.dropdownContainer {
  display: block;
  background-color: #222629;
  padding: 20px;
  text-align: center;
}

@media all and (min-width: 960px) {
  .dropdownContainer {
    display: inline-block;
    position: absolute;
    z-index: 1;
    width: 120px;
  }
}
