.content {
  margin: 20px 0px;
}
.content h1, .content h2 {
  margin: 12px 0px
}
.date {
  margin: 10px;
}
.links {
  padding: 0.5rem 30px;
  display: flex;
  justify-content: space-between;
  border: 2px solid green;
}
.links a:hover {
  text-decoration: underline;
}
.image {
  display: block;
}
.title {
  margin: 0
}