.title {
  padding: 30px 0;
  color: white;
  font: 400 36px "Major Mono Display", monospace;
}
.subtitle {
  color: white;
  margin: 15px 0;
  font-weight: 300;
}
input,
textArea,
button {
  padding: 8px 6px;
  margin: 4px 0;
  border: 1px solid black;
  display: block;
}
input,
textArea {
  width: 80vw;
  color: black;
  resize: vertical;
}
input,
button {
  font-size: 18px;
}
textArea {
  font-size: 14px;
}
button {
  padding: 5px 12px;
}
.privatePolicy {
  padding-bottom: 14px;
  font-size: 11px;
  max-width: 80%;
}
@media all and (min-width: 700px) {
  .title {
    font-size: calc(24px + 1.75vw);
  }
  input,
  textArea {
    width: 29.4vw;
  }
}
