.info {
  display: flex;
  flex-flow: column nowrap;
}
.info .title {
  color: black;
  text-align: center;
  margin: 40px 0 10px;
  font: 400 24px "Raleway", sans-serif;
}
.description {
  text-align: center;
  font: 400 16px "Raleway", sans-serif;
  width: 90%;
  margin: 10px 0;
}
.info hr {
  align-self: stretch;
  min-height: 1px;
  background-color: black;
  width: 90%;
  margin: 0 5%;
}
.text {
  flex: 1 1 300px;
  margin: 10px 0;
}
.date {
  margin: 15px 5px;
}
.modifiedColumnHeight {
  height: fit-content;
  padding: 20px;
}
.postLink {
  display: inline-block;
  background-color: #86c232;
  color: white;
  padding: 12px 20px;
  border-radius: 25px;
  margin: 30px 0 10px;
  text-decoration: none;
  transition: background-color 0.5s;
}
.postLink:hover {
  background-color: #61892f;
}
