.postCount {
  font-size: 18px;
}
.links {
  padding: 14px;
}
.link {
  margin: 12px 0px;
  cursor:pointer;
}
.link h3 {
  font: 300 24px 'Comfortaa';
  margin: 2px 0;
}
.link hr {
  width: 60%;
  margin-left: 10px;
}