.stress {
    background-color: black;
    padding: 8px;
    height: 1000px;
}
.stress p {
    color: red;
    text-align: center;
    font-size: 28px;
}

.inverted {
    background-color: red;
}

.inverted p {
    color: black;
}